 <!--Site Footer One Start-->
 <footer class="site-footer" style="background-image: url(/images/footer_back.webp)">
    <div class="container">
        <div class="site-footer__one-top">
            <div class="row">
                <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="00ms">
                    <div class="footer-widget__column footer-widget__about">
                        <div class="footer-widget__logo">
                            <a href="/"><img src="/images/footer-logo.png" alt=""></a>
                        </div>
                        <p class="footer-widget__text">This site belongs to Dishitaa, an NGO registered in Kolkata, West Bengal.</p>
                        <div class="site-footer__social">
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#" class="clr-fb"><i class="fab fa-facebook-square"></i></a>
                            <a href="#" class="clr-dri"><i class="fab fa-dribbble"></i></a>
                            <a href="#" class="clr-ins"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="200ms">
                    <div class="footer-widget__column footer-widget__explore clearfix">
                        <h3 class="footer-widget__title">Explore</h3>
                        <ul class="footer-widget__explore-list list-unstyled">
                            <li><a href="#">About</a></li>
                            <li><a href="#">Campaigns</a></li>
                            <li><a href="#">Volunteers</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="300ms">
                    <div class="footer-widget__column footer-widget__contact">
                        <h3 class="footer-widget__title">Contact</h3>
                        <ul class="list-unstyled footer-widget__contact-list">
                            <li>
                                <div class="icon">
                                    <i class="fas fa-phone-square-alt"></i>
                                </div>
                                <div class="text">
                                    <p><a href="tel:919876543210">+91 98765 43210</a></p>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <i class="fas fa-envelope"></i>
                                </div>
                                <div class="text">
                                    <p><a href="mailto:info@dishitaa.org">info@dishitaa.org</a></p>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <i class="fas fa-map-marker-alt"></i>
                                </div>
                                <div class="text">
                                    <p>56, Elliot Road, Kolkata - 700016</p>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <i class="fas fa-university"></i>
                                </div>
                                <div class="text">
                                    <p>PAN : AADTD4523E</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--Site Footer One End-->

<!--Site Footer Bottom Start-->
<div class="site-footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="site-footer-bottom__inner">
                    <div class="site-footer-bottom__left">
                        <p>© Copyright 2021 | Dishitaa | Design By <a href="https://www.indraprasthadesign.com">Indraprastha Design Co.</a></p>
                    </div>
                    <ul class="site-footer-bottom__menu list-unstyled">
                        <li><a href="#">Privacy Policy</a></li>
                        <li><span>/</span></li>
                        <li><a href="#">Terms of Condition</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Site Footer Bottom End-->















</div><!-- /.page-wrapper -->

<a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="fa fa-angle-up"></i></a>




<div class="mobile-nav__wrapper">
<div class="mobile-nav__overlay side-menu__toggler mobile-nav__toggler"></div>
<div class="mobile-nav__content">
    <span class="mobile-nav__close side-menu__toggler mobile-nav__toggler">
        <i class="fa fa-times"></i>
    </span>
    <div class="logo-box">
        <a href="/" aria-label="logo image">
            <img src="/images/resources/logo-2.png" alt="" />
        </a>
    </div>
    <!-- /.logo-box -->
    <div class="mobile-nav__container clearfix"></div>
    <!-- /.mobile-nav__container -->
    <ul class="mobile-nav__contact list-unstyled">
        <li>
            <i class="fas fa-envelope"></i>
            <p><a href="mailto:info@dishitaa.org">info@dishitaa.org</a></p>
        </li>
        <li>
            <i class="fas fa-phone-square-alt"></i>
            <p><a href="tel:919876543210">+91 98765 43210</a></p>
        </li>
    </ul><!-- /.mobile-nav__contact -->
    <div class="mobile-nav__top">
        <div class="mobile-nav__social">
            <a href="#" aria-label="twitter"><i class="fab fa-twitter"></i></a>
            <a href="#" aria-label="facebook"><i class="fab fa-facebook-square"></i></a>
            <a href="#" aria-label="pinterest"><i class="fab fa-pinterest-p"></i></a>
            <a href="#" aria-label="instagram"><i class="fab fa-instagram"></i></a>
        </div><!-- /.mobile-nav__social -->
    </div><!-- /.mobile-nav__top -->
</div>
</div>



<div class="search-popup">
<div class="search-popup__overlay custom-cursor__overlay">
    <div class="cursor"></div>
    <div class="cursor-follower"></div>
</div><!-- /.search-popup__overlay -->
<div class="search-popup__inner">
    <form action="#" class="search-popup__form">
        <input type="text" name="search" placeholder="Type here to Search....">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>
</div>
</div>



<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>

<script src="/js/waypoints.min.js"></script>
<script src="/js/jquery.counterup.min.js"></script>
<script src="/js/TweenMax.min.js"></script>
<script src="/js/wow.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/jquery.ajaxchimp.min.js"></script>
<script src="/js/swiper.min.js"></script>
<script src="/js/typed-2.0.11.js"></script>
<script src="/js/vegas.min.js"></script>
<script src="/js/jquery.validate.min.js"></script>
<script src="/js/bootstrap-select.min.js"></script>
<script src="/js/countdown.min.js"></script>
<script src="/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="/js/bootstrap-datepicker.min.js"></script>
<script src="/js/nouislider.min.js"></script>
<script src="/js/isotope.js"></script>
<script src="/js/appear.js"></script>
<script src="/js/jarallax.js"></script>


<!-- template scripts -->
<script src="/js/theme.js"></script>


</body>

</html>