<link rel="icon" type="image/png" sizes="32x37" href="/images/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x19" href="/images/favicons/favicon-16x16.png">
<link rel="manifest" href="/images/favicons/site.webmanifest">

<!-- Fonts-->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.gstatic.com">
<link
    href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">

<!-- Css-->
<link rel="stylesheet" href="/css/animate.min.css">
<link rel="stylesheet" href="/css/bootstrap.min.css">

<link rel="stylesheet" href="/css/magnific-popup.css">
<link rel="stylesheet" href="/css/fontawesome-all.min.css">
<link rel="stylesheet" href="/css/swiper.min.css">
<link rel="stylesheet" href="/css/bootstrap-select.min.css">
<link rel="stylesheet" href="/css/jarallax.css">

<link rel="stylesheet" href="/css/jquery.mCustomScrollbar.min.css">
<link rel="stylesheet" href="/css/bootstrap-datepicker.min.css">
<link rel="stylesheet" href="/css/vegas.min.css">
<link rel="stylesheet" href="/css/nouislider.min.css">
<link rel="stylesheet" href="/css/nouislider.pips.css">
<link rel="stylesheet" href="/css/asting.css">
<!-- Template styles -->
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/responsive.css">

</head>

<body>
    <div class="page-wrapper">

        <div class="site-header__header-one-wrap clearfix">
            <div class="container">

                <div class="site-header__logo-box float-left">
                    <div class="site-header__logo">
                        <a href="/"><img src="/images/logo.png" alt="Dishitaa Organization Logo"></a>
                    </div>
                </div>

                <header class="main-nav__header-one">
                    <div class="main-nav__header-one__top clearfix">
                        <div class="main-nav__header-one__top-left">
                            <ul class="list-unstyled">
                                <li>
                                    <div class="icon">
                                        <i class="fas fa-phone-square-alt"></i>
                                    </div>
                                    <div class="text">
                                        <p><a href="tel:919876543210">+91 98765 43210</a></p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fas fa-envelope"></i>
                                    </div>
                                    <div class="text">
                                        <p><a href="mailto:info@dishitaa.org">info@dishitaa.org</a></p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="main-nav__header-one__top-right">
                            <div class="main-nav__header-one__top-social">
                                <a href="#"><i class="fab fa-facebook-square"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                    <nav class="header-navigation stricky">
                        <div class="container clearfix">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="main-nav__left main-nav__left-one float-left">
                                <a href="#" class="side-menu__toggler">
                                    <i class="fa fa-bars"></i>
                                </a>
                                <div class="main-nav__main-navigation clearfix">
                                    <ul class=" main-nav__navigation-box float-left">
                                        <li class="current">
                                            <a href="/">Home</a>
                                        </li>
                                        <li>
                                            <a href="#about">About</a>
                                        </li>
                                        <li>
                                            <a href="#contact">Contact</a>
                                        </li>
                                        <li>
                                            <a href="#faqs">FAQs</a>
                                        </li>
                                    </ul>
                                </div><!-- /.navbar-collapse -->
                            </div>
                            <div class="main-nav__right main-nav__right-one float-right">
                                <div class="main-nav__right__btn-one">
                                    <a href="#contact"><i class="fas fa-heart"></i>Volunteer</a>
                                </div>
                            </div>
                        </div>
                    </nav>
                </header>
            </div>
        </div>