<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dishitaa | Building Rural Dreams </title>


    <%- include('partials/header'); -%>

    <!-- Main Slider Start -->
    <section class="main-slider">
        <div class="swiper-container thm-swiper__slider" data-swiper-options='{"slidesPerView": 1, "loop": true,
"effect": "fade",
"pagination": {
    "el": "#main-slider-pagination",
    "type": "bullets",
    "clickable": true
  },
"navigation": {
    "nextEl": ".main-slider-button-next",
    "prevEl": ".main-slider-button-prev",
    "clickable": true
},
"autoplay": {
    "delay": 5000
}}'>

            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="image-layer"
                        style="background-image: url('/images/Indian Girl Child.webp');"></div>
                    <div class="container">
                        <div class="swiper-slide__inner">
                            <div class="row">
                                <div class="col-xl-12">
                                    <p>Welcome to Dishitaa</p>
                                    <h2>We help the <br> Girl Child</h2>
                                    <a href="#about" class="thm-btn">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="image-layer"
                        style="background-image: url('/images/Feeding Poor Children.webp');"></div>
                    <div class="container">
                        <div class="swiper-slide__inner">
                            <div class="row">
                                <div class="col-xl-12">
                                    <p>What do we do?</p>
                                    <h2>Empowering the Women<br> Of Tomorrow</h2>
                                    <a href="#about" class="thm-btn">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="image-layer"
                        style="background-image: url('/images/Girls in Rural School.webp');"></div>
                    <div class="container">
                        <div class="swiper-slide__inner">
                            <div class="row">
                                <div class="col-xl-12">
                                    <p>Helping Them Today</p>
                                    <h2>Education & <br> Skill Development</h2>
                                    <a href="#" class="thm-btn">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination" id="main-slider-pagination"></div>
            <div class="main-slider-nav">
                <div class="main-slider-button-prev"><span class="icon-right-arrow"></span></div>
                <div class="main-slider-button-next"><span class="icon-right-arrow"></span> </div>
            </div>
        </div>
    </section>
    <!-- Main Slider End -->

    <!--Three Icon Start-->
    <section class="feature-one">
        <div class="container">
            <div class="feature-one__inner">
                <div class="row">
                    <div class="col-xl-4 col-lg-4">
                        <!--Three Icon Single-->
                        <div class="feature-one__single feature-one__single-first-item">
                            <div class="feature-one__icon-wrap">
                                <div class="feature-one__icon-box">
                                    <span class="fas fa-book-reader"></span>
                                    <div class="feature-one__icon-box-img">
                                        <img src="/images/three_iocn_box_bg.png" alt="">
                                    </div>
                                </div>
                                <div class="feature-one__icon-text-box">
                                    <h4>Skill Development & Education</h4>
                                </div>
                            </div>
                            <p class="feature-one__icons-single-text">Establishing a curriculum that helps develop the skills of girl students alongside functional education. </p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4">
                        <!--Three Icon Single-->
                        <div class="feature-one__single feature-one__single-third-item">
                            <div class="feature-one__icon-wrap">
                                <div class="feature-one__icon-box feature-one__icon-box-three">
                                    <span class="icon-charity"></span>
                                    <div class="feature-one__icon-box-img">
                                        <img src="/images/three_iocn_box_bg-3.png" alt="">
                                    </div>
                                </div>
                                <div class="feature-one__icon-text-box">
                                    <h4>Hygiene</h4>
                                </div>
                            </div>
                            <p class="feature-one__icons-single-text">Building & maintaining facilities for personal hygiene to ensure a healthy and prolonged life.</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4">
                        <!--Three Icon Single-->
                        <div class="feature-one__single feature-one__single-second-item">
                            <div class="feature-one__icon-wrap">
                                <div class="feature-one__icon-box feature-one__icon-box-two">
                                    <span class="fas fa-apple-alt"></span>
                                    <div class="feature-one__icon-box-img">
                                        <img src="/images/three_iocn_box_bg-2.png" alt="">
                                    </div>
                                </div>
                                <div class="feature-one__icon-text-box">
                                    <h4>Nutrition</h4>
                                </div>
                            </div>
                            <p class="feature-one__icons-single-text">Providing nutritional food that meets the daily caloric requirements of adolescent girls.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Three Icon End-->

    <!--Welcome One Start-->
    <section class="welcome-one" style="background-image: url(/images/welcome_one_bg.jpg)" id="about">
        <div class="welcome-one-hands"
            style="background-image:url(/images/backgrounds/welcome_one_hands.png)"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6">
                    <div class="welcome-one__left">
                        <div class="welcome-one__img wow slideInLeft" data-wow-delay="100ms">
                            <img src="/images/Girl Child At Dishitaa.webp" alt="">
                            <div class="welcome-one__badge">
                                <img src="/images/welcome_one_badge.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="welcome-one__right">
                        <div class="block-title text-left">
                            <h4>About Dishitaa</h4>
                            <h2>Helping the Rural Women of Tomorrow</h2>
                        </div>
                        <p class="welcome-one__text">We at Dishitaa Foundation are a non-governmental & not-for-profit organization. We aim to create sustainable systems across Indian rural communities to help young women with a focus on 4 major aspects. </p>
                        <ul class="welcome-one__list list-unstyled">
                            <li><span class="icon-confirmation"></span>Hygiene </li>
                            <li><span class="icon-confirmation"></span>Skill Development</li>
                            <li><span class="icon-confirmation"></span>Nutrition</li>
                            <li><span class="icon-confirmation"></span>Functional Education</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Welcome One End-->


    <!--We Are Helping Start-->
    <section class="we-are-helping jarallax" data-jarallax data-speed="0.2" data-imgPosition="50% 0%"
        style="background-image: url('/images/Girls in School.webp')">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6">
                    <div class="we-are-helping__left">
                        <div class="block-title text-left">
                            <h4>The vision behind Dishitaa</h4>
                            <h2>What are the sustainable development goals?</h2>
                        </div>
                        <div class="we-are-helping__video">
                            <a href="https://www.youtube.com/watch?v=0XTBYMfZyrM"
                                class="we-are-helping__video-btn video-popup"><i class="fa fa-play"></i></a>
                        </div>
                        <div class="we-are-helping__arrow">
                            <img src="/images/we_are_helping_arrow.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="we-are-helping__points">
                        <ul class="list-unstyled">
                            <li>
                                <div class="icon">
                                    <span class="icon-salad"></span>
                                </div>
                                <div class="text">
                                    <h4>Nutrition</h4>
                                    <p>Building sustainable systems to ensure the calorific & nutritional needs of young women. 
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <span class="far fa-paper-plane"></span>
                                </div>
                                <div class="text">
                                    <h4>Quality Education</h4>
                                    <p>Functional Education such as reading, writing & arithmetic alongside other  valuable skills required in the 21st Century.
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--We Are Helping End-->

    <!--We Need Help Start-->
    <section class="we-need-help" id="faqs">
        <div class="we-nned-help-bg">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6">
                    <div class="we-need-help__left">
                        <div class="block-title text-left">
                            <h4>Dishitaa Foundation</h4>
                            <h2>Frequently Asked Questions</h2>
                        </div>
                        <div class="we-need-help__faqs">
                            <div class="accrodion-grp" data-grp-name="faq-one-accrodion">
                                <div class="accrodion">
                                    <div class="accrodion-title">
                                        <h4>What is Dishitaa?</h4>
                                    </div>
                                    <div class="accrodion-content">
                                        <div class="inner">
                                            <p>We are a registered organization in the state of West Bengal, India. With a small but dedicated team, we help rural communities across West Bengal & other adjoining areas. </p>
                                        </div><!-- /.inner -->
                                    </div>
                                </div>
                                <div class="accrodion active">
                                    <div class="accrodion-title">
                                        <h4>How can I help Dishitaa?</h4>
                                    </div>
                                    <div class="accrodion-content">
                                        <div class="inner">
                                            <p>We are a lean organization that believes in minimizing overheads and maximizing aid. Share your ideas & time with us, so that we can further our efforts. </p>
                                        </div><!-- /.inner -->
                                    </div>
                                </div>
                                <div class="accrodion">
                                    <div class="accrodion-title">
                                        <h4>Why focus on rural women?</h4>
                                    </div>
                                    <div class="accrodion-content">
                                        <div class="inner">
                                            <p>We believe, when we empower the women in the family, we empower the children, the grandparents and thus, the entire family. Thus, to maximize good, our vision remains. </p>
                                        </div><!-- /.inner -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="we-need-help__right">
                        <div class="we-need-help__img">
                            <img src="/images/dishitaa foundation.webp" alt="">
                            <div class="we-need-help__give">
                                <div class="icon">
                                    <span class="icon-charity-1"></span>
                                </div>
                                <div class="text">
                                    <h4>We care for the<br>Girl Child</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--We Need Help End-->


    <!--Join One Start-->
    <section class="join-one jarallax" data-jarallax data-speed="0.2" data-imgPosition="50% 0%"
        style="background-image: url(/images/join_one_bg.webp)" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="join-one__inner">
                        <div class="join-one__icon">
                            <span class="icon-helping-hand"></span>
                        </div>
                        <h2>Contact Us!</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Join One End-->

    <!--Newsletter One Start-->
    <section class="newsletter-one">
        <div class="container">
            <div class="newsletter-one__inner">
                <div class="contact-form">
                    <form method="post" action="https://www.indraprasthadesign.com/contact" class="contact-form-validated contact-one__form">
                                <div class="row">
                                    <div class="col-xl-4">
                                        <div class="contact-form__input-box">
                                            <input type="text" placeholder="Your name" name="name">
                                        </div>
                                    </div>
                                    <div class="col-xl-4">
                                        <div class="contact-form__input-box">
                                            <input type="email" placeholder="Email address" name="email">
                                        </div>
                                    </div>
                                    <div class="col-xl-4">
                                        <div class="contact-form__input-box">
                                            <input type="text" placeholder="Phone number" name="phone">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="contact-form__input-box">
                                            <textarea name="message" placeholder="Write message"></textarea>
                                        </div>
                                        <button type="submit" class="thm-btn contact-form__btn">Send Message</button>
                                    </div>
                                </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!--Newsletter One End-->

    <%- include('partials/footer'); -%>